.goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple img,img.goog-te-gadget-icon,.goog-te-menu-value span{
    display:none!important
}

.goog-te-menu-frame{
    box-shadow:none!important
}

.goog-te-gadget-simple{
    background-color:transparent!important;
    background:url("../media/google-translate.png") center / 12px no-repeat;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    background-size: 20px 20px;
    display:inline-block;
    font-weight:400;
    line-height: 1.8;
    padding:0 6px;
    text-align:center;
    white-space:nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-left:none!important;
    border-top:none!important;
    border-bottom:none!important;
    border-right:none!important;
    border-radius: 4px
}